ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
DATABASE_URI="mongodb://username:password@hostname:port/?authMechanism=DEFAULT&tls=true"
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_WEB_CLIENT_ID=
MAILER_SMTP=smtp.dondominio.com
MAILER_USER=info@atesmaps.org
MAILER_PASS=
LAUEGI_API_KEY=
FIREBASE_SERVICE_ACCOUNT_BASE64=
PORT=3500
